<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>

<template name="layout">
  <a class="nav__btn nav--open ion-navicon" href="#"></a>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="/prop">Acessórios/Equipamentos</a>
        <a class="nav__link" href="/muscle">Músculos</a>
        <a class="nav__link" href="/exercise">Exercícios</a>
        <a class="nav__link" href="/training">Treinamentos</a>
      </li>
    </ul>
  </nav>

  {{> yield}}
</template>
