<template name="routineEdit">
  <h1>Alterar rotina</h1>

  <form class="form form--edit" action="post">
    <div class="form__field">
      <label class="form__label" for="description">Descrição</label>
      <input class="form__input" type="text" name="description" id="description" value="{{routine.description}}" required>
    </div>

    <div class="form__submit">
      <input class="btn form__btn" type="submit" value="Atualizar">
    </div>
  </form>

  {{#if routine.status}}
    <a href="#" class="btn--status">Desativar</a>
  {{else}}
    <a href="#" class="btn--status">Ativar</a>
    <a href="#" class="btn--delete">Remover</a>
  {{/if}}
</template>
