<template name="routine">
  <header class="header">
    <div class="container">
      <h1 class="header__title">Rotinas</h1>

      {{> nav}}
      
      <a class="nav-action__btn nav-action--open ion-android-more-vertical" href="#"></a>

      <div class="nav-action">
        <ul class="nav-action__list">
          <li class="nav-action__item">
            <a class="nav-action__link" href="/routine/create">Adicionar</a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <ul class="list">
        {{#each routines}}
        <li class="list__item">
          <a class="list__link {{checkStatus status}}" href="/routine/edit/{{_id}}">
            {{description}}
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </main>
</template>
