<template name="routineExercise">
  <header class="header">
    <div class="container">
      <h1 class="header__title">Rotinas de exercícios</h1>

      <a class="nav-action__btn nav-action--back ion-android-arrow-back" href="#"></a>
      <a class="nav-action__btn nav-action--open ion-android-more-vertical" href="#"></a>

      <div class="nav-action">
        <ul class="nav-action__list">
          <li class="nav-action__item">
            <a class="nav-action__link" href="/routine-exercise/create">Adicionar</a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <ul class="list">
        {{#each routineExercise}}
        <li class="list__item">
          <a class="list__link {{checkStatus status}}" href="/routine-exercise/edit/{{_id}}">
            {{exerciseObj.name}} / Séries: {{sets}} - Repetições: {{reps}}
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </main>
</template>
