<template name="routineExerciseShow">
  <header class="header">
    <div class="container">
      <h1 class="header__title">Exercício</h1>

      {{#if authorized 2}}
        <a class="nav__btn nav__btn--left btn--back ion-android-arrow-back" href="#"></a>
        <a class="nav__btn nav__btn--right nav-action__btn--open ion-android-more-vertical" href="#"></a>

        <div class="nav-action">
          <ul class="nav-action__list">
            <li class="nav-action__item">
              <a class="nav-action__link" href="/routine-exercise/edit/{{_id}}">Editar</a>
            </li>
          </ul>
        </div>
      {{else}}
        {{#if execution routineExercise.execution 0}}
          <a class="nav__btn nav__btn--left btn--back ion-android-arrow-back" href="#"></a>
        {{/if}}
      {{/if}}
    </div>
  </header>

  <main class="main">
    <div class="container">
      <section class="section">
        <h1 class="section__title">
          <span class="exercise">{{routineExercise.exerciseObj.name}}</span>

          {{#unless authorized 2}}
            {{#if routineExercise.done}}
              <span class="icon--right ion-android-done"></span>
            {{/if}}
          {{/unless}}
        </h1>

        <div class="section__gallery">
          {{#each routineExercise.exerciseObj.images}}
          <figure class="section__figure">
            <img class="section__image images" src="{{imageExercisePath}}{{this}}" alt="Imagem do exercício">
          </figure>
          {{/each}}
        </div>

        <div class="section__content">
          <div class="section__group">
            <h2 class="section__caption">Músculo(s)</h2>

            <div class="section__text">
              <ul>
                {{#each muscles routineExercise.exerciseObj.muscles}}
                  <li class="muscles">{{name}}</li>
                {{/each}}
              </ul>
            </div>
          </div>

          <div class="section__group">
            <h2 class="section__caption">Equipamento(s)</h2>

            <div class="section__text">
              <ul>
                {{#each props routineExercise.exerciseObj.props}}
                  <li class="muscles">{{name}}</li>
                {{/each}}
              </ul>
            </div>
          </div>

          <div class="row row--three">
            <div class="section__group">
              <h2 class="section__caption">Séries</h2>

              <div class="section__text section__text--big">
                <p class="sets">{{routineExercise.sets}}</p>
              </div>
            </div>

            <div class="section__group">
              <h2 class="section__caption">Repetições</h2>

              <div class="section__text section__text--big">
                <p class="reps">{{routineExercise.reps}}</p>
              </div>
            </div>

            <div class="section__group">
              <h2 class="section__caption">Carga recomandada</h2>

              <div class="section__text section__text--big">
                <p class="reps">{{routineExercise.weight}}kg</p>
              </div>
            </div>
          </div>

          <div class="row row--two">
            <div class="section__group">
              <h2 class="section__caption">Intervalo</h2>

              <div class="section__text section__text--big">
                <p class="sets">{{routineExercise.interval}}</p>
              </div>
            </div>

            <div class="section__group">
              <h2 class="section__caption">Velocidade de execução</h2>

              <div class="section__text section__text--big">
                <p class="reps">{{routineExercise.speed}}</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      {{#unless authorized 2}}
        {{#unless routineExercise.done}}
        <footer class="footer">
          {{#if execution routineExercise.execution 0}}
            <a class="btn execution__btn--initial" href="#">Iniciar exercício</a>
          {{else}}
            <a class="btn execution__btn--finalize" href="#">Finalizar exercício</a>
          {{/if}}
        </footer>
        {{/unless}}
      {{/unless}}
    </div>

    {{#unless authorized 2}}
      {{#unless routineExercise.done}}
        {{#if execution routineExercise.execution 0}}
        <section class="modal modal--active">
          <div class="modal__content">
            <h1 class="modal__title">{{routineExercise.exerciseObj.name}}</h1>
            <h2 class="modal__caption">Força!</h2>
            <a class="modal__btn execution__btn--initial" href="#">Iniciar</a>
          </div>
        </section>
        {{/if}}
      {{/unless}}
    {{/unless}}
  </main>
</template>
