<template name="exerciseCreate">
  <header class="header">
    <div class="container">
      <h1 class="header__title">Novo exercício</h1>
      <a class="nav__btn nav__btn--left btn--back ion-android-arrow-back" href="#"></a>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <div class="form__field">
        <label class="form__label" for="image">Imagem</label>
        <input class="form__input--hidden images" type="file" id="image" name="image" multiple required>

        <button class="form__btn--upload">
          Enviar imagem <span class="icon--right ion-upload"></span>
        </button>
      </div>

      <form class="form form--create" action="post">
        <div class="form__field">
          <label class="form__label" for="name">Nome</label>
          <input class="form__input" type="text" id="name" name="name" required>
        </div>

        <div class="form__field">
          <label class="form__label" for="props">Equipamentos</label>

          {{#each props}}
          <div class="form-checkbox">
            <input class="form-checkbox__input props" type="checkbox" name="prop" id="{{_id}}" value="{{_id}}">
            <label class="form-checkbox__label" for="{{_id}}">{{name}}</label>
          </div>
          {{/each}}
        </div>

        <div class="form__field">
          <label class="form__label" for="muscles">Músculo</label>

          {{#each muscles}}
          <div class="form-checkbox">
            <input class="form-checkbox__input muscles" type="checkbox" name="muscle" id="{{_id}}" value="{{_id}}">
            <label class="form-checkbox__label" for="{{_id}}">{{name}}</label>
          </div>
          {{/each}}
        </div>

        <div class="form__submit">
          <input class="btn form__btn" type="submit" value="Cadastrar">
        </div>
      </form>
    </div>
  </main>
</template>
