<template name="exercise">
  <header class="header">
    <div class="container">
      <h1 class="header__title">Exercícios</h1>

      {{> nav}}

      <a class="nav__btn nav__btn--right nav-action__btn--open ion-android-more-vertical" href="#"></a>

      <div class="nav-action">
        <ul class="nav-action__list">
          <li class="nav-action__item">
            <a class="nav-action__link" href="/exercise/create">Adicionar</a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <ul class="list">
        {{#each exercises}}
        <li class="list__item">
          <a class="list__link {{checkStatus status}}" href="/exercise/edit/{{_id}}">
            {{name}} - {{propObj.name}}
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </main>
</template>
