<template name="exercise">
  <header class="header">
    <div class="container">
      <h1 class="header__title">Exercícios</h1>
      {{> nav}}
    </div>
  </header>

  <main class="main">
    <div class="container">
      <form class="form form--search">
        <div class="form__field">
          <label class="form__label" for="search">Filtrar exercícios</label>
          <input class="form__input input--search" name="search" id="search" type="search" autocomplete="off" required>
        </div>
      </form>

      <ol class="list">
        {{#each exercises}}
        <li class="list__item">
          <a class="list__link {{checkStatus status}}" href="/exercise/edit/{{_id}}">
            {{name}}
          </a>
        </li>
        {{/each}}
      </ol>

      <footer class="footer">
        <a class="btn" href="/exercise/create">Adicionar Exercício</a>
      </footer>
    </div>
  </main>
</template>
