<template name="gymEdit">
  <h1>Gym edit</h1>

  <form id="gym-edit" action="post">
    <div class="form-field">
      <label for="name">Nome</label>
      <input type="text" id="name" name="name" required autofocus>
    </div>

    <div class="form-field">
      <label for="phone">Telefone</label>
      <input type="tel" id="phone" name="phone" required>
    </div>

    <div class="form-field">
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" required>
    </div>

    <div class="form-field">
      <label for="city">City</label>

      <select name="city" id="city">
        {{#each cities}}
          <option value="{{_id}}">{{name}}/{{stateObj.uf}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-submit">
      <input type="submit" value="Atualizar">
    </div>
  </form>

  {{#if city.status}}
    <a href="#" class="btn-status">Desativar</a>
  {{else}}
    <a href="#" class="btn-status">Ativar</a>
  {{/if}}

  <a href="#" class="btn-delete">Remover</a>
</template>
