<template name="userList">
  <header class="header">
    <div class="container">
      <h1 class="header__title">Lista de usuários</h1>
      {{> nav}}
    </div>
  </header>

  <main class="main">
    <div class="container">
      <form class="form form--search">
        <div class="form__field">
          <label class="form__label" for="search">Filtrar usuários</label>
          <input class="form__input input--search" name="search" id="search" type="search" autocomplete="off" required>
        </div>
      </form>

      <ol class="list list--users">
        {{#each users}}
        <li class="list__item list__item--figured">
          <a class="list__link {{checkStatus profile.status}}" href="/training/{{_id}}">
            <figure class="list__figure">
              {{#if image profile.image }}
                <img class="list__image" src="/cfs/files/userImages/{{ profile.image }}" alt="{{ profile.name }}">
              {{/if}}
            </figure>

            {{profile.name}}
          </a>
        </li>
        {{/each}}
      </ol>
    </div>
  </main>
</template>
