<template name="userLogin">
  <header class="header">
    <div class="container">
      <h1 class="header__title">Entrar</h1>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <form class="form form--login" action="post">
        <div class="form__field">
          <label class="form__label" for="email">E-mail</label>
          <input class="form__input" type="email" name="email" id="email" required autofocus>
        </div>

        <div class="form__field">
          <label class="form__label" for="password">Senha</label>
          <input class="form__input" type="password" name="password" id="password" required>
        </div>

        <div class="form__submit">
          <input class="btn form__btn" type="submit" value="Entrar">
        </div>
      </form>

      <div class="form__links">
        <a href="/register">Registrar</a>
        <a href="/recovery">Esqueci minha senha</a>
      </div>
    </div>
  </main>
</template>
