<template name="userProfile">
  <header class="header">
    <div class="container">
      <h1 class="header__title">Perfil</h1>

      <a class="nav__btn nav__btn--left btn--back ion-android-arrow-back" href="#"></a>
      <a class="nav__btn nav__btn--right nav-action__btn--open ion-android-more-vertical" href="#"></a>

      <div class="nav-action">
        <ul class="nav-action__list">
          <li class="nav-action__item">
            <a class="nav-action__link" href="/user/edit/{{user._id}}">Editar</a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <section class="section">
        <div class="section__group">
          <figure class="section__figure section__figure--rounded">
            {{#if image user.profile.image }}
              <img class="section__image" src="{{imagePath}}{{user.profile.image}}" alt="{{user.profile.name}}">
            {{/if}}
          </figure>
        </div>

        <div class="section__group">
          <h2 class="section__caption">{{user.profile.name}}</h2>

          <div class="section__text">
            <p>
              {{user.profile.type.name}}
            </p>
          </div>
        </div>
      </section>
    </div>
  </main>
</template>
