<template name="userRecovery">
  <header class="header">
    <div class="container">
      <h1 class="header__title">Recuperar senha</h1>
      <a class="nav__btn nav__btn--left btn--back ion-android-arrow-back" href="#"></a>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <figure class="logo__icon">
        <img class="logo__image" src="/img/apple-icon-76x76.png" alt="Coach">
      </figure>

      {{#if resetPassword}}
        <form class="form form--recovery" action="post">
          <div class="form__field">
            <label class="form__label" for="password">Nova senha</label>
            <input class="form__input" type="password" name="password" id="password" required>
          </div>

          <div class="form__submit">
            <input class="btn form__btn" type="submit" value="Registrar nova senha">
          </div>
        </form>
      {{else}}
        <form class="form form--send" action="post">
          <div class="form__field">
            <label class="form__label" for="email">E-mail</label>
            <input class="form__input" type="email" name="email" id="email" required>
          </div>

          <div class="form__submit">
            <input class="btn form__btn" type="submit" value="Enviar instruções">
          </div>
        </form>
      {{/if}}
    </div>
  </main>
</template>
