<template name="userRecovery">
  {{#if resetPassword}}
    <form id="form-recovery-send" action="post">
      <div class="form-field">
        <label for="password">Nova senha</label>
        <input type="text" name="password" id="password" required>
      </div>

      <div class="form-submit">
        <input type="submit" value="Trocar senha">
      </div>
    </form>
  {{else}}
    <form id="form-recovery" action="post">
      <div class="form-field">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" required>
      </div>

      <div class="form-submit">
        <input type="submit" value="Enviar instruções">
      </div>
    </form>
  {{/if}}
</template>
