<template name="trainingEdit">
  <h1>Training edit</h1>

  <form class="form-edit" action="post">
    <input type="hidden" id="instructor" name="instructor" value="{{currentUser._id}}">

    <div class="form-field">
      <label for="description">Descrição</label>
      <input type="text" name="description" id="description" value="{{training.description}}" required autofocus>
    </div>

    <div class="form-field">
      <label for="practitioner">Praticante</label>
      <select name="practitioner" id="practitioner">
        {{#each practitioners}}
          <option value="{{_id}}">{{profile.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-field">
      <label for="routine">Rotinas</label>

      {{#each routines}}
      <div class="form-checkbox">
        <input class="routines" type="checkbox" name="routines" id="{{_id}}" value="{{_id}}">
        <label for="{{_id}}">{{description}}</label>
      </div>
      {{/each}}
    </div>

    <div class="form-submit">
      <input type="submit" value="Atualizar">
    </div>
  </form>

  {{#if training.status}}
    <a href="#" class="btn-status">Desativar</a>
  {{else}}
    <a href="#" class="btn-status">Ativar</a>
    <a href="#" class="btn-delete">Remover</a>
  {{/if}}
</template>
