<template name="training">
  <header class="header">
    <div class="container">
      <h1 class="header__title">Treinamentos</h1>

      {{#if authorized 2}}
        <a class="nav__btn nav__btn--left btn--back ion-android-arrow-back" href="#"></a>
      {{else}}
        {{> nav}}
      {{/if}}
    </div>
  </header>

  <main class="main">
    <div class="container">
      <ul class="list">
        {{#each trainings}}
        <li class="list__item">
          <a class="list__link {{checkStatus status}}" href="/training/show/{{_id}}">
            {{description}}
          </a>
        </li>
        {{/each}}
      </ul>

      {{#if authorized 2}}
      <footer class="footer">
        <a class="btn" href="/training/{{practitionerId}}/create">Adicionar Treinamento</a>
      </footer>
      {{/if}}
    </div>
  </main>
</template>
