// form

.form {

}

.form--search {
  .form__field {
    margin-bottom: 1rem;
  }
}

.form__field {
  margin-bottom: 2rem;
}

.form__label {
  display: block;

  color: lighten($black, 40%);
  font-family: $family-title;
  font-size: .8rem;
  font-weight: 500;
  text-transform: uppercase;

  margin: 0 0 .25rem;
}

%fields {
  display: block;
  width: 100%;
  height: 3rem;

  color: lighten($black, 30%);
  font-family: $family-title;
  font-size: 1rem;

  background: $white;
  border: solid 1px darken($white, 20%);

  padding: 0 .8rem;

  outline: none;
  box-sizing: border-box !important;

  &:focus {
    border-color: darken($white, 30%);
    box-shadow: inset 0 0 0 .2rem rgba($black, .02);
  }
}

.form__input {
  @extend %fields;
  line-height: 3rem;
  @include appearance(none);
}

.form__input--hidden {
  display: none;
}

.form__select {
  @extend %fields;
  line-height: 2rem;
  @include appearance(none);
}

.form__textarea {
  line-height: 2rem;
  @extend %fields;
}


.form-checkbox {
  position: relative;
  margin-bottom: .2rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form-checkbox__label {
  cursor: pointer;

  display: block;
  width: 100%;

  color: lighten($black, 30%);
  font-family: $family-title;
  font-size: 1rem;

  padding: .5rem .5rem .5rem 2.2rem;

  background: rgba($black, .05);
}

.form-checkbox__input {
  position: absolute;
  top: 1rem;
  left: 1rem;
}


.form__btn--upload {
  @extend %fields;
  text-align: center;
}


.form__links {
  text-align: center;

  a {
    display: inline-block;

    color: lighten($black, 30%);
    font-size: .9rem;
    text-decoration: none;
    text-transform: uppercase;

    margin: 0 1rem;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}


.form__submit {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;

  text-align: center;
}


// resets

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
