// list

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include row;
}

.list__item {
  line-height: 3.5rem;
  margin-bottom: 1rem;

  &:last-of-type {
    margin: 0;
  }
}

.list__item--figured {
  position: relative;
  padding-top: 2.4rem;
}

.list__figure {
  position: absolute;
  top: 0;
  left: 50%;

  width: 3rem;
  height: 3rem;

  background: $white;
  border-radius: 100%;
  box-shadow: 0 0 0 .2rem rgba($black, .1);

  overflow: hidden;

  @include transition(.1s ease);
  @include transform(translateX(-50%));
}

.list__image {
  position: relative;
  left: 50%;
  height: 100%;
  @include transform(translateX(-50%));
}

.list__link {
  display: block;
  height: 3.5rem;

  color: lighten($black, 30%);
  font-size: .9rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  padding: 0 1rem;

  overflow: hidden;
  background: rgba($black, .1);

  @include transition(.15s ease);

  &:hover {
    box-shadow: inset 0 0 10rem rgba($black, .1);
  }

  &:focus {
    background: rgba($black, .15);
  }
}

.list__link--disabled {
  background: rgba($black, .02);

  &:hover {
    box-shadow: inset 0 0 10rem rgba($black, .1);
  }

  &:focus {
    background: rgba($black, .1);
  }
}

.list__link--done {
  color: lighten($black, 50%);
  background: rgba($black, .02);
}


@include media($screen-md) {
  .list__item {
    @include span-columns(6);
    @include omega(2n);
    margin-bottom: 1.5rem;
    line-height: 4rem;

    &:last-of-type {
      margin-bottom: 1.5rem;
    }
  }

  .list__item--figured {
    position: relative;
    padding-top: 2rem;
  }


  .list__link {
    height: 4rem;
    font-size: 1rem;
  }
}
