// list

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include row;
}

.list__item {
  line-height: 3.5rem;
  margin-bottom: 1rem;

  &:last-of-type {
    margin: 0;
  }
}

.list__link {
  display: block;

  color: lighten($black, 30%);
  font-size: .9rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background: rgba($black, .02);

  @include transition(.15s ease);

  &:hover {
    box-shadow: inset 0 0 10rem rgba($black, .1);
  }

  &:focus {
    background: rgba($black, .1);
  }
}

.list__link--active {
  background: rgba($black, .1);

  &:hover {
    box-shadow: inset 0 0 10rem rgba($black, .1);
  }

  &:focus {
    background: rgba($black, .15);
  }
}

@include media($screen-md) {
  .list__item {
    @include span-columns(6);
    @include omega(2n);
    margin-bottom: 1.5rem;
    line-height: 4rem;

    &:last-of-type {
      margin-bottom: 1.5rem;
    }
  }

  .list__link {
    font-size: 1rem;
  }
}
