// nav

.nav {
  display: none;
}

.nav--opened {
  display: block;
}

.nav__list {
  cursor: default;

  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {

}

.nav__link {

}

.nav__link--active {

}


// nav actions

.nav-action {
  display: none;
}

.nav-action--opened {
  display: block;
}
