// print

.print {
  text-align: center;
  margin-bottom: 2rem;

  &:last-of-type {
    margin: 0;
  }
}

.print__header {
  padding: .5em;
  background: rgba($black, .03);
}

.print__title {
  color: lighten($black, 40%);
  font-size: 1.1em;
  margin: 0;
}

.print__author {
  color: lighten($black, 60%);
  font-size: .8em;
  margin: 0;
}

.print__item {
  padding: 1.5em 0;
  border-bottom: solid .1rem rgba($black, .1);
}

.print__group {
  padding: .5rem 0;
}

.row--two {
  @include row;

  .print__group {
    @include span-columns(6);
  }
}


.row--three {
  @include row;

  .print__group {
    @include span-columns(4);
  }
}

.print__caption {
  color: lighten($black, 40%);
  font-size: 1.1em;
  margin: 0 0 .5em;
}

.print__description {
  color: lighten($black, 60%);
  font-size: .8em;
  margin: 0;
}

.print__text {
  color: lighten($black, 30%);
  font-size: 1em;

  margin: 0;
}


.print-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &:last-of-type {
    margin: 0;
  }
}

.print-list__item {
  display: inline-block;

  color: lighten($black, 30%);
  font-size: 1em;

  margin: 0 .5em;
}


@media print {
  .print {
    font-size: .6em;
    border-bottom: solid 1px rgba($black, .2);
  }

  .print__item {
    @include span-columns(4);
    @include omega(3n);
    border: 0;
    padding: .5em 0;
  }

  .print__group {
    padding: .2rem 0;
  }
}

@include media($screen-md) {
  .print__item {
    @include span-columns(4);
    @include omega(3n);
  }
}
