// reason

.reason {
  display: none;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9000;

  width: 100%;

  color: $white;
  font-size: 1rem;
  text-align: center;

  padding: 1rem;

  background: lighten($black, 15%);
}

@include media($screen-md) {
  .reason {
    top: 0;
    bottom: auto;
  }
}
