<template name="cityCreate">
  <h1>City create</h1>

  <form class="form-create" action="post">
    <div class="form-field">
      <label for="name">Nome</label>
      <input type="text" id="name" name="name" required autofocus>
    </div>

    <div class="form-field">
      <label for="state">Estado</label>
      <select name="state" id="state" required>
        {{#each states}}
          <option value="{{_id}}">{{uf}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-submit">
      <input type="submit" value="Cadastrar">
    </div>
  </form>
</template>
