<template name="cityEdit">
  <h1>City edit</h1>

  <form class="form-edit" action="post">
    <div class="form-field">
      <label for="name">Nome</label>
      <input type="text" id="name" name="name" value="{{city.name}}" required autofocus>
    </div>

    <div class="form-field">
      <label for="state">Estado</label>
      <select name="state" id="state" required>
        {{#each states}}
          <option value="{{_id}}">{{uf}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-submit">
      <input type="submit" value="Atualizar">
    </div>
  </form>

  {{#if city.status}}
    <a href="#" class="btn-status">Desativar</a>
  {{else}}
    <a href="#" class="btn-status">Ativar</a>
    <a href="#" class="btn-delete">Remover</a>
  {{/if}}
</template>
