<template name="muscleEdit">
  <header class="header">
    <div class="container">
      <h1 class="header__title">Alterar músculo</h1>

      <a class="nav__btn nav__btn--left btn--back ion-android-arrow-back" href="#"></a>
      <a class="nav__btn nav__btn--right nav-action__btn--open ion-android-more-vertical" href="#"></a>

      <div class="nav-action">
        <ul class="nav-action__list">
          {{#if muscle.status}}
            <li class="nav-action__item">
              <a class="nav-action__link btn--status" href="#">Desativar</a>
            </li>
          {{else}}
            <li class="nav-action__item">
              <a class="nav-action__link btn--status" href="#">Ativar</a>
            </li>

            <li class="nav-action__item">
              <a class="nav-action__link btn--delete" href="#">Remover</a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <form class="form form--edit" action="post">
        <div class="form__field">
          <label class="form__label" for="name">Nome</label>
          <input class="form__input" type="text" id="name" name="name" value="{{muscle.name}}" required autofocus>
        </div>

        <div class="form__submit">
          <input class="btn form__btn" type="submit" value="Atualizar">
        </div>
      </form>
    </div>
  </main>
</template>
