<template name="propEdit">
  <h1>Alterar adereço/equipamento</h1>

  <form class="form-edit" action="post">
    <div class="form-field">
      <label for="name">Nome</label>
      <input type="text" id="name" name="name" value="{{prop.name}}" required autofocus>
    </div>

    <div class="form-submit">
      <input type="submit" value="Atualizar">
    </div>
  </form>

  {{#if prop.status}}
    <a href="#" class="btn-status">Desativar</a>
  {{else}}
    <a href="#" class="btn-status">Ativar</a>
    <a href="#" class="btn-delete">Remover</a>
  {{/if}}
</template>
