// section

.section {
  @include row;
}

.section__group {
  text-align: center;

  padding: 2rem 0;

  border-bottom: solid 1px rgba($black, .06);
}

.section__title {
  color: darken($white, 30%);
  font-size: 1rem;
  margin: 0;
}

.section__text {
  color: lighten($black, 50%);
  font-size: 1.4rem;

  p {
    margin: 0;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin: 0 1rem;
  }
}

@include media($screen-md) {
  .row {
    .section__group {
      @include span-columns(4);
      @include omega(3n);
    }
  }

  .section__group {
    padding: 3rem 0;
  }

  .section__text {
    font-size: 1.6rem;
  }
}
